<!DOCTYPE html>

<html>

    <head>

        <title>St Paul Crimes</title>
        <!--leaflet.js stye sheet and library scource--> 
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <!--vue.js library-->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!--js scource-->
        <script type ='text/javascript' src = 'map.js'></script>
        <!--local css styling-->
        <link rel="stylesheet" href="style.css">
        
    </head>

    <body onload="Init()">
        <!--Link to about page, 1/2-->
        <a href="/about">About</a>
        
        <!--The Map-->
        <div id="map"></div>
        <div id = 'app'>
            <select v-model="searchType">
                    <option disabled value="">Please select one</option>
                    <option>Address</option>
                    <option>Latitude and Longitude</option>
            </select>
            <input v-model="searchInput" placeholder='Search Here!'>
            <button type="button" @click = 'findAddress'>
                Submit
            </button>
            <!--The table-->
            <div style = "height:600px; width:1080px; overflow:scroll;">
                <table >
                    <tr>
                        <th>Case Number</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Code</th>
                        <th>Incident</th>
                        <th>Police Grid</th>
                        <th>Neighborhood Number</th>
                        <th>Block</th>
                    </tr>
                    <!--TODO create variable "incidents" from our restful server /incidents-->
                    <tr v-for="entry in incidents">
                        <td>{{ entry.case_number }}</td>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.time }}</td>
                        <td>{{ entry.code }}</td>
                        <td>{{ entry.incident }}</td>
                        <td>{{ entry.police_grid }}</td>
                        <td>{{ entry.neighborhood_number }}</td>
                        <td>{{ entry.block }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Link to about page, 2/2-->
        <!--a href="/about">About</a-->
    </body>

</html>